In [1]:
import pandas as pd
import seaborn as sns

In [8]:
df = pd.read_csv('resultados-del-test-febrero-octubre-2018.csv', sep=';')

In [13]:
df2 = pd.read_csv('resultados-del-test.csv')

df2.head()

,fecha,hora,edad,genero,barrio,pregunta_1,pregunta_2,pregunta_3,pregunta_4,pregunta_5,pregunta_6,pregunta_7,pregunta_8,pregunta_9,pregunta_10,pregunta_11,pregunta_12,pregunta_13
0,2019-06-14,09:09:00,27,Mujer,Constitución,A,A,A,B,A,B,C,C,B,C,B,C,C
1,2019-06-13,23:20:00,17,Mujer,Otro,A,B,B,B,B,C,C,B,B,C,B,C,C
2,2019-06-13,16:33:00,15,Mujer,Recoleta,B,B,C,B,C,B,B,A,A,A,A,A,A
3,2019-06-13,16:10:00,20,Mujer,Barracas,B,C,C,C,C,C,C,C,C,C,B,C,C
4,2019-06-13,14:29:00,39,Hombre,Almagro,B,C,B,B,C,C,B,C,B,C,C,B,C

,FECHA,HORA,EDAD,GENERO,BARRIO,PREG_1,PREG_2,PREG_3,PREG_4,PREG_5,PREG_6,PREG_7,PREG_8,PREG_9,PREG_10,"fecha,hora,edad,genero,barrio,pregunta_1,pregunta_2,pregunta_3,pregunta_4,pregunta_5,pregunta_6,pregunta_7,pregunta_8,pregunta_9,pregunta_10,pregunta_11,pregunta_12,pregunta_13"
0,13/02/2017,23:41,28,HOMBRE,PALERMO,B,B,B,B,B,B,B,B,B,B,NaN
1,13/02/2017,20:09,23,MUJER,BALVANERA,B,B,B,B,B,B,B,B,B,B,NaN
2,13/02/2017,20:07,22,MUJER,BALVANERA,A,A,A,A,A,A,A,A,B,C,NaN
3,13/02/2017,20:04,34,MUJER,VILLA PUEYRREDON,C,C,B,C,B,C,C,C,C,B,NaN
4,13/02/2017,19:34,31,MUJER,CABALLITO,C,C,C,C,C,C,C,C,C,C,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2018-02-14,19:29:00,20,Mujer,Agronomia,B,B,B,B..."
17315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2018-02-14,19:27:00,26,Mujer,Villa Lugano,B,C,..."
17316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2018-02-14,19:26:00,18,Mujer,Almagro,B,B,B,B,B..."
17317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2018-02-14,19:06:00,22,Mujer,Almagro,A,A,A,A,A..."
17318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2018-02-14,18:51:00,29,Hombre,Agronomia,A,B,C,..."